@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --white30: #ffffff;
  --white20: #a5a3a5;
  --white10: #3a3539;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background-color: #251f24;
  margin: 0;
  /* margin-inline: 100px; */
  /* writing-mode: vertical-lr; */
  /* margin-block-start: 50px; */
  /* margin-block-end: 50px; */
}

a {
  color: var(--white30);
}

.header-content {
  padding-inline: 20px;
}

header {
  color: var(--white30);
  font-size: 14px;
  margin-block-start: 20px;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  border-color: rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}

pre {
  background: var(--white10);
  border: 10px solid red;
  border-radius: 8px;
  /* border-inline-start: 5px solid var(--white30);
  border-block-start: 5px solid pink;
  border-block-end: 20px solid pink;
  border-inline-end: 5px solid green; */
  /* border-block-start-color: ; */
  /* border-start-start-radius: 60px; */
  border: 10px solid #5551ff;
  box-shadow: -10px 10px 0 0 #abaaf6;
  margin-block-end: 30px;
  overflow: auto;
  padding: 40px;
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  block-size: 50px;
}

.section-content {
  counter-reset: titleList;
}

.section-content img {
  display: block;
  margin-block-start: 40px;
  max-inline-size: 100%;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList) '. ';
}

/* .section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: var(--white30);
  display: inline-block;
} */

blockquote {
  background-color: var(--white10);
  border-radius: 8px;
  font-size: 24px;
  line-height: 32px;
  margin-block: 80px 63px;
  /* padding: 24px; */
  padding-inline: 24px;
  padding-block: 24px;
}

blockquote p {
  color: var(--white30);
}

/* ::selection {
  background-color: #fec62e;
} */

.main hr {
  display: none;
}

.main {
}

.wrapper {
  /* width */
  /* inline-size: 902px; */
  /* max-width */
  max-inline-size: 902px;
  /* height */
  /* block-size: 100px; */
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider {
  /* border: 1px solid red; */
}

.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  /* border: 1px solid yellow; */
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form input {
  inline-size: 100%;
  background-color: #251f24;
  border: 1px solid var(--white30);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--white30);
  font-size: 16px;
  padding-inline: 16px;
  padding-block: 12px;
}

.form input[type='submit'] {
  background-color: #157efb;
  border: none;
}

.form input::-webkit-input-placeholder {
  color: var(--white20);
}

@media screen and (min-width: 1366px) {
  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }
}
